<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" routerLink="/listactors" routerLinkActive="active">Actors </a>
      </li>
      <li class="nav-item">

          <a class="nav-link" routerLink="/addactor" routerLinkActive="active">Add </a>
      </li>
      <li class="nav-item">

          <a class="nav-link" routerLink="/updateactor" routerLinkActive="active">Update</a>
      </li>
      <li class="nav-item">

          <a class="nav-link" routerLink="/deleteactor" routerLinkActive="active">Delete</a>
      </li>
  </ul>
</nav>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/listmovies" routerLinkActive="active">Movies </a>
        </li>
        <li class="nav-item">
  
            <a class="nav-link" routerLink="/addmovie" routerLinkActive="active">Add </a>
        </li>
        <li class="nav-item">
  
            <a class="nav-link" routerLink="/updatemovie" routerLinkActive="active">Update</a>
        </li>
        <li class="nav-item">
  
            <a class="nav-link" routerLink="/deletemovie" routerLinkActive="active">Delete</a>
        </li>
        <li class="nav-item">
  
            <a class="nav-link" routerLink="/addactortomovie" routerLinkActive="active">Add Actor</a>
        </li>
    </ul>
  </nav>

<router-outlet></router-outlet>