<div class="section">
    <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Birth Year</th>
          <th>Select ?</th>
        </tr>
        <tr *ngFor="let item of actorsDB">
          <td>{{item.name}}</td>
          <td>{{item.bYear}}</td>
          <td><button type="submit" class="btn btn-primary" (click)="onSelectActor(item)">Select Actor</button></td>
        </tr>
      </table>
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>Year</th>
          <th>Select ?</th>
        </tr>
        <tr *ngFor="let item of moviesDB">
          <td>{{item.title}}</td>
          <td>{{item.year}}</td>
          <td><button type="submit" class="btn btn-primary" (click)="onSelectMovie(item)">Select Movie</button></td>
        </tr>
      </table>
      <p>you select actor : {{name}} to join movie : {{title}}</p>
      <button type="submit" class="btn btn-primary" (click)="onAddActorToMovie()">Add</button>
  </div>
